@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "BebasNeue";
  src: url("./fonts/BebasNeue-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "ProximaNova";
  src: url("./fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "ProximaNova";
  src: url("./fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
}
body {
  font-family: "ProximaNova";
}
.modal-content::-webkit-scrollbar-track {
  border-radius: 4px;
}
.modal-content::-webkit-scrollbar {
  width: 6px;
  height: 100px;
  background-color: #fff;
}
.modal-content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #323d78;
}
.modal-content:hover::-webkit-scrollbar-thumb {
  background: #323d78;
}

button,
.modal-header .modal-title {
  font-family: "BebasNeue";
}

.modal-header,
.modal-title {
  text-transform: uppercase;
}

.modal-body .modal-title {
  margin-bottom: 14px;
  margin-top: 23px;
}

#garant .modal__order--title {
  margin-bottom: 8px;
  margin-top: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.35;
  text-align: left;
  color: #22232d;
}

#garant .modal-dialog {
  max-width: 807px;
  margin-top: 50px;
}

#size .modal-content {
  margin-top: 51px;
}

.modal-content {
  border-radius: 0;
}

#garant .modal-content {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 660px;
  font-family: "ProximaNova";
}

#garant .modal-header {
  padding: 0;
  padding-top: 50px;
  border-bottom: 2px solid #f6f6f6;
}

.modal-header .modal-title {
  font-family: "BebasNeue";
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #22232d;
}

#garant .modal-header .modal-title,
#size .modal-header .modal-title {
  margin-left: 98px;
  font-style: 36px;
  text-align: left;
  color: #22232d;
}

.modal-header .close {
  padding: 15px 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  background-color: #f6f6f6;
}

#garant .modal-body {
  padding: 23px 98px;
}

.modal__return .modal-title,
.modal__order .modal-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.1;
  text-align: left;
  color: #22232d;
}

#garant .modal__order--text {
  font-size: 15px;
  line-height: 1.35;
  text-align: left;
  color: #4d4d4d;
}

#size .modal-dialog {
  max-width: 807px;
}

.modal-content {
  font-family: "ProximaNova";
}

#size .modal-header {
  border: none;
}

#size .modal-body {
  padding: 0;
}

.bold {
  font-weight: 700;
}

.size__card--heading {
  padding: 0;
  padding-left: 5px;
  font-family: "BebasNeue";
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #22232d;
  padding-bottom: 14px;
}

.size__card--number {
  font-family: "ProximaNova";
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.16px;
  text-align: left;
  color: #22232d;
}

tr:nth-child(1) {
  border-bottom: 2px solid #f6f6f6;
}

td {
  width: 25rem;
  padding: 10px 15px;
}

td:nth-child(1) {
  padding-left: 98px;
}

td:nth-child(4) {
  padding-right: 98px;
}

.size__card table {
  width: 100%;
}

table {
  border-collapse: collapse;
}

.size__card--gray {
  background-color: #f3f3f3;
}

@media (max-width: 1200px) {
  #garant .modal-dialog {
    max-width: 100%;
    margin-right: 20px;
    margin-left: 20px;
  }

  #garant .modal-header .modal-title,
  #size .modal-header .modal-title {
    font-size: 32px;
  }

  #size .modal-dialog {
    max-width: 100%;
    margin-top: 86px;
    margin-right: 48px;
    margin-left: 48px;
  }
  td:nth-child(1) {
    padding-left: 92px;
  }

  td:nth-child(4) {
    padding-right: 92px;
  }
}

@media (max-width: 768px) {
  #garant .modal-dialog {
    margin-top: 70px;
  }

  #size .modal-content {
    margin-top: 172px;
  }

  #garant .modal-header .modal-title,
  #size .modal-header .modal-title {
    margin-left: 20px;
  }

  .modal-header .close {
    width: 44px;
    height: 44px;
    padding: 8px 8px;
  }

  #garant .modal-body {
    padding: 23px 20px;
  }

  #garant .modal-header .modal-title,
  #size .modal-header .modal-title {
    font-size: 30px;
  }

  #size .modal-dialog,
  #garant .modal-dialog {
    margin-right: 20px;
    margin-left: 20px;
  }

  .size__card--number {
    font-size: 16px;
  }

  td:nth-child(1) {
    padding-left: 43px;
  }

  td:nth-child(4) {
    padding-right: 43px;
  }
}

@media (max-width: 480px) {
  #garant .modal-dialog {
    margin-top: 10px;
  }

  #garant .modal-header .modal-title {
    margin-left: 26px;
  }

  .modal-header .close {
    width: 38px;
    height: 38px;
  }

  #size .modal-content {
    margin-top: 63px;
  }

  #garant .modal-body {
    padding: 23px 26px;
  }

  #garant .modal-header .modal-title,
  #size .modal-header .modal-title {
    font-size: 28px;
  }

  .size__card--heading {
    font-size: 15px;
  }

  #size .modal-dialog,
  #garant .modal-dialog {
    margin-right: 10px;
    margin-left: 10px;
  }

  td:nth-child(1) {
    padding-left: 20px;
  }

  td:nth-child(4) {
    padding-right: 20px;
  }
}
